*{
    font-family: Nunito, san-serif;
}
body{
    background-color:aliceblue;
    padding-right: 50px;
    padding-left: 50px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* Navbar Styling Start Here */
.wrapper{
    display: flex;
justify-content: space-between;
gap: 1.5rem;
height: 60px;
margin-bottom: 200px;
align-items: center;
padding-left: 50px;
padding-right: 50px;
}

.icon img{
    width: 10rem;
}
.navlinks {
    justify-content: space-around;
    display: flex;
    gap: 5rem;
}
.navlinks a{
    text-decoration: none;
    color: black;
    gap: 1.5rem;
}
.navbutton {
    background-color: teal;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}
.navbutton a{
    text-decoration: none;
    font-weight: bolder;
    color: white;
}
/* First Section Styling Here */
.first {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    /* background-color: yellow; */
}
.text {
    padding: 40px;
}
.text h1{
    width: 20rem;
}
.first .edition{
    font-size: 20px;
}
.text p{
    width: 30rem;

}
.button a {
    margin-top: 30px;
    text-decoration: none;
    background-color: teal;
    color: white;
    display: inline-block;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 20px;
    margin-right: 20px;
    justify-content: right;
    align-items: right;
}
.grid {
    max-width: 50%;
}
.grid img{
    width: 35rem;
    height: 100%;
    border-radius: 20px;
}
.container{
    border-radius: 10px;
    background-color: teal;
    height: 40%;
    width: 90rem;
    justify-self: center;

}
.head {
padding-left: 30rem;
font-size: 20px;
color: white;

}
.alphabets {
    display: flex;
    justify-content: space-around;
    color: white;
    height: 20%;
    margin-bottom: 10rem;
    margin-right: 10rem;
}
.alphabets p{
    font-size: 20px;
}
.logo a {
    color: teal;
    text-decoration: none;
    font-weight: bold;
}
.alphabets h1{
    font-size: 50px;
}
.container h3{
    font-size: 30px;
}
.meta {
    display: flex;
    gap: 20rem;
}
.met {
    display: flex;
    gap: 6rem;   
}
.fifth {
    margin-left: 20rem;
    margin-top: 7rem;
}
.fifth .meta a{
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: teal;
    color: white;
    border-radius: 0.5rem;
    margin-left: 12rem;
    font-weight: bolder;
    margin-top: 5rem;
}